@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;1,300&display=swap');

.pp {
    padding: 0 20rem;
}
.header-logo > img {
    display: inline-block;
    width: 110px;
    padding: 10px 0px;
}

.head-list > li {
    display: inline-block;
    padding: 0px 10px;
    font-family: 'Urbanist', sans-serif;
}

.header-cont {
    height: 44px;
    width: 100%;
}

.header-cont > li {
    text-align: center;
    padding: var(--page-padding);
}

.carousel-btn {
    height: 10px !important;
    width: 10px !important;
    margin: 0 5px !important;
    background-color: #666;
}

.carousel-btn:focus {
    background-color: #76b900;
}

.carousel-header {
}

.carousel-item > img {
    height: 580px;
    width: 130%;
}